#home-sec1 {
	padding-top: 85px;
	
	@media (min-width: @main-menu-breakpoint) {
		padding-top: 0;
	}
}

#home-sec2 {		
	* {
		color: #ff6000;
	}
	
	.vc_inner {
		background-color: rgba(255,255,255,0.85);
		
		&.dark-bg {
			background-color: rgba(33,33,33,0.85);
			
			* {
				color: #FFF;
			}
		}
		
		h4 {
			text-align: justify;
		}
		.btn {
			background-color: #FF6000;
			a {
				color: #FFF;
			}
		}
		
	}
}
#home-sec4 {
	h1 {
		color: #7fe352;
	}
	
	.rounded-table {
		border: 3px solid #F3F2F2;
		border-radius: 7px;
		background-color:  #ffffff;
		
				
		* {
			color: #888484;
		}
		
		h2 {
			font-size: 22px;
			line-height: 60px;
			margin-top: 0;
		}
		h3 {
			background-color: #cbc6c6;
			color: #7db464;
			font-size: 20px;
			line-height: 50px;
			margin: 0 -15px 0 -15px;
			padding: 0;
		}
		h4 {
			color: #9ec29f;
			font-size: 18px;
			margin-bottom: 0;
		}
		
		&.dark {
			background-color: #888;
			border-color: #999;
			
			h2 {
				color: #F2f2f2;
			}
			p {
				color: #e5e5e5
			}
		}
	}
}
#home-sec5 {
	.btn1 .btn {
		background-color: #5b9f3c;
		
		a {
			color: #FFF;
		}
	}
	
	.btn2 .btn {
		background-color: #e6eee3;
		a {
			color: #5b9f3c;
		}
	}
	
	.btn3 .btn {
		background-color: #fb9a1d;
		a {
			color: #FFF;
		}
	}
}
#home-sec7 {
	.btn {
		background-color: #266583;
	}
}