/* 
    Created on : Nov 3, 2017, 3:25:58 PM
    Author     : Julian Andrade <julian@ndrade.com.br>
*/

body.single-post {
	.un-page-head {
		display: none;
	}

	article {
		color: @veritae-blue;
		text-align: center;
		
		* {
			color: @veritae-blue;
		}
		
		img.veritae-logo {
			width: 233px;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		
		.veritae-voe-tipo {
			* {
				text-transform: uppercase !important;
			}
			
			h2 {
				background-color: @veritae-blue;
				color: #FFF;
			}
			h3 {
				color: @veritae-blue;
			}
		}
		
		.download-pdf {
			color: #FFF;
		}
	}
}